:root {
  --color-bg: #3B3B3B;
  --color-light: #626262;
  --color-light2: #9B9B9B;
}

.background {
  background-color: var(--color-bg);
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif !important;
}