.expMainBg {
    padding: 2rem;
    /* padding-bottom: 1rem; */
    box-sizing: border-box;
    color: white;
    height: 45vh;
}

.subExpBg {
    background-color: var(--color-light);
    border-radius: 1rem;
    padding: 1rem;
    height: max-content;
    /* height: 30vh; */
}

.card {
    background-color: var(--color-light2);
    border-radius: 1rem;
    width: 90%;
    /* width: 30vw; */
    padding-block: 4rem;
    margin-inline: 1rem;
    margin-block: 1rem;
}

.addIncBtn {
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
}

.dialogInput {
    height: 3rem;
    /* height: 3rem; */
    width: 45%;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0px;
    font-size: large;
    margin: 0.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
}

.dialogBtn {
    background-color: #F4BB4A;
    color: White;
    font-weight: 600;
}

.dialogBtn2 {
    width: 30%;
    color: black;
    background: linear-gradient(0deg, #D9D9D9, #D9D9D9), linear-gradient(0deg, #D9D9D9, #D9D9D9), linear-gradient(0deg, #E3E3E3, #E3E3E3);
    font-weight: 500;
}

.dialogBtn:hover, .dialogBtn2:hover {
    cursor: pointer;
} 

.myGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}